<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <title>home</title>
  </head>
  <body class="bg-gray-900 text-gray-900">
    <nav
      class="flex flex-row justify-between p-4 pr-10 bg-blue-400 items-center"
    >
      <a
        href="/auth/login"
        class="bg-gray-900 text-blue-400 p-2 pl-4 pr-4 rounded-2xl"
        >login</a
      >
    </nav>
    <section class="flex justify-center items-center">
      <h2 class="text-6xl font-bold text-blue-400 mt-40">
        Welcome to FaceConnect
      </h2>
    </section>
  </body>
</html>
